*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* add flexbox and align items inside the header */

.woofworld-logo{
  width: 100px;
  margin: 0px;
}

.hero-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px
}


.primary-navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.primary-navigation a{
  text-decoration: none;
}

.secondary-navigation{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 15px;
}

.secondary-navigation ul{
  display: flex;
  gap: 15px;
  padding-right: 15px;
  list-style: none;
}

.secondary-navigation a {
  text-decoration: none;
}


/* Style navigation bar */

.hero-top{
  background-color: #f6f6f6;
  font-family: inter, sans-serif;
  font-size: 14px;
}

.hero-top nav ul li:last-child{
  text-align: center;
  background-color: #696ff9;
  padding: 0.5rem;
  width: 7vw;
  border-radius: 3px;
}

.sign-color{
  color: #f6f6f6;
  font-weight: bold;
  letter-spacing: 0.020rem;
}

.primary-navigation nav ul li a:not(last-child){
  color: #696ff9;
}

.secondary-navigation{
  background-color: #696ff9;
  font-family: inter, sans-serif;
  font-size: 15px;
}

.secondary-navigation a{
  color: #f6f6f6;
  font-weight: bold;
}

input[type="search"] {
  padding: 10px;
  width: 17vw;
  height: 5vh;
  background-color: #f6f6f6;
  border: none;
  border-radius: 3px;
  outline: 1px solid #f6f6f6;
}
