*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
--primary:#702083;
--accent:#FE8301;
--light:#F6F6F6;
--hover-button: #FE8301a1;
--opacity-accent: #ffd1a1;
--footer-setting: #181113;
}



.woofworld-logo{
  width: 150px;
  margin-left: 20px;
}

.hero-top{
  padding: 20px;
  background-color:var(--light);
  align-items: start;
}


.footer-container{
  display: flex-start;
  background-color:var(--footer-setting);
  padding: 40px 0px;
  width: 100%;
}

.important-info{
  display: flex;
  justify-content: space-between;
  padding: 40px  40px 0px 40px;
}

.important-info a{
  text-decoration: none;
  color:var(--light);
  padding: 10px;
  font-family: "inter";
  text-align: start;
  display: block; 
  /* I used display property and clock value to align every necessary links inside
  the footer section */
}

.primary-footer-navigation{
  display: flex;
  flex-direction: column;
}



.secondary-footer-navigation{
  display: flex;
  flex-direction: column;
}

.logo-footer{
  margin-left: 40px;
}











.right-reserve {
  background-color:var(--accent);
  padding: 20px;
  text-align: center;
}

.right-reserve a{
  color:var(--light);
}

