*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
--primary:#702083;
--accent:#FE8301;
--light:#F6F6F6;
--opacity-light: #9b9b9b;
--hover-button: #FE8301a1;
--opacity-accent: #ffd1a1;
--footer-setting: #181113;
}

.woofworld-logo{
  width: 150px;
  margin-left: 20px;
}

.hero-top{
  padding: 20px;
  background-color:var(--footer-setting);
  align-items: start;
}
/* -------------------------------Register-------------------------------------- */

body{
  background-color:var(--light);
}

.community-hero{
  margin: 80px;
  text-align: center;
}

form{
  max-width: 600px;
  margin: 40px auto;
}

fieldset{
  margin: 10px;
}

label{
  display: block;
  padding: 10px;
}

.footer-container{
  display: flex-start;
  background-color:var(--footer-setting);
  padding: 40px 0px;
  width: 100%;
  border-radius: 30px 30px 0px 0px; 
 }

.important-info{
  display: flex;
  justify-content: space-between;
  padding: 40px  40px 0px 40px;
}

.important-info a{
  text-decoration: none;
  color:var(--opacity-light);
  padding: 10px;
  font-family: "inter";
  text-align: start;
  display: block; 
  /* I used display property and block value to align every necessary links inside
  the footer section */
}

important-info a:hover{
 color:var(--light);
}

.primary-footer-navigation{
  display: flex;
  flex-direction: column;
}

.image-footer{
  display: inline-block;
  filter: grayscale(100%);
  align-self: end;  
}

.primary-image{
  width: 110px;
  height: 40px;
  margin-right: 10px;
}

.secondary-image{
  width: 45px;
}

.secondary-footer-navigation{
  display: flex;
  flex-direction: column;
}

.logo-footer{
  margin-left: 40px;
}

.right-reserve {
  background-color:var(--accent);
  padding: 20px;
  text-align: center;
}

.right-reserve a{
  color:var(--light);
}

